        body {
            font-family: Arial, sans-serif;
            margin:0;
            padding: 0;
            background-color: rgb(53, 11, 168) ;
        }
header {
            background-color: hwb(246 1% 71%);
            color: rgb(131, 86, 221);
            padding: 15px 0;
            text-align: center;
        }
        nav {
            background-color: rgb(11, 3, 46);
            padding: 10px;
            text-align: center;
        }
        nav a {
            color: rgb(131, 86, 221);
            margin: 0 15px;
            text-decoration: none;
        }
        nav a:hover {
            text-decoration: underline;
        }
        main {
            padding: 20px;
            background-color: rgb(53, 11, 168);
            max-width: 1210px;
            margin: auto;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        footer {
            background-color: rgb(11, 3, 46);
            color: white;
            text-align: center;
            padding: 20px 0;
            margin-top: 17px
        }
